@import './_mixins';

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  padding: $default-padding * 2;
  text-align: center;
  text-decoration: none;
  color: $success;
  @include border-radius($border-radius-big);

  // Types
  &.btn-pill {
    @include border-radius(9999px);
    padding: 4px 8px;
    color: $default-text-color;
    margin-right: $default-padding;

    &:last-child {
      margin-right: 0;
    }
  }

  &.btn-full {
    width: 100%;
  }

  // Sizes
  &.btn-big {
    padding: $default-padding * 4;
    font-family: $primary-font-extra-bold;
    font-size: 26px;
  }

  &.btn-small {
    padding: $default-padding;
    @include border-radius($default-padding);
    min-width: 24px;
  }

  // Button colors
  &.btn-primary {
    @include button-colors($white, $primary);
   }
   &.btn-success {
    @include button-colors($white, $success);
   }
   &.btn-danger {
    @include button-colors($white, $danger);
   }
   &.btn-light {
    @include button-colors($success, $light-green);
   }
}

.show-more {
  color: $success;
  font-family: $secondary-font;
  text-decoration: none;
  font-weight: bold;
}

