@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('../fonts/ProximaNovaCond-Regular.eot');
  src: url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ProximaNovaCond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('../fonts/NeuzeitGro-Reg.eot');
  src: url('../fonts/NeuzeitGro-Reg.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeuzeitGro-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neuzeit Grotesk Condensed';
  src: url('../fonts/NeuzeitGroCon-Bla.eot');
  src: url('../fonts/NeuzeitGroCon-Bla.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeuzeitGroCon-Bla.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neuzeit Grotesk Bold';
  src: url('../fonts/NeuzeitGro-Bol.eot');
  src: url('../fonts/NeuzeitGro-Bol.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeuzeitGro-Bol.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neuzeit Grotesk Light';
  src: url('../fonts/NeuzeitGro-Lig.eot');
  src: url('../fonts/NeuzeitGro-Lig.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeuzeitGro-Lig.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeuzeitGroExt-Bla';
  src: url('../fonts/NeuzeitGroExt-Bla.eot');
  src: url('../fonts/NeuzeitGroExt-Bla.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NeuzeitGroExt-Bla.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

