@import './_mixins';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: auto;
}

.site-header {
  background: $white;
  padding-bottom: $default-padding * 8;
  margin-bottom: $default-padding * 2;

  .top {
    display: flex;
    flex-wrap: wrap;
    padding: 0 $default-padding * 3;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    background: $success;
  }

  img {
    width: 88px;
    height: auto;
    display: block;
  }
}

.main {
  border-radius: $border-radius-big;
  background: $white;
  padding: $default-padding * 2 0;
  margin: $default-padding * 2;
}