@import './variables';

@mixin border-radius($top-left:$border-radius, $top-right:null, $bottom-right:null, $bottom-left:null){
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
     -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
      -ms-border-radius: $top-left $top-right $bottom-right $bottom-left;
          border-radius: $top-left $top-right $bottom-right $bottom-left;  
}

@mixin button-colors($textColor, $backgroundColor) {
  color: $textColor;
  background-color: $backgroundColor;

    &:hover {
      color: inherit;
    }
}

@mixin alert-colors($textColor, $borderColor, $backgroundColor) {
  color: $textColor;
  border-color: $borderColor;
  background-color: $backgroundColor;
}

@mixin scrollbar($size, $radius, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    @include border-radius($radius);
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
